<!-- views/admin-dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
  <%- include('dashboard_header')%>

  <div class="container">
    <div class="menu">
      <ul>
        <li>
          <a href="/profile">Personal Info</a>
          <a href="/admin-dashboard">Courses</a>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="welcome_msg">
        <h1>Welcome, <span><%= user.first_name %></span></h1><span>(Admin)</span>
        
      </div>
      <!-- <h3>This is the admin dashboard.</h3> -->

      
      <h2>Available Courses</h2>
      <div class="add_btn">
        <a href="/add-course">Add a New Course</a>
      </div>

      <div class="available_courses">
        <ul>
          <% if (courses && courses.length > 0) { %>
            <% courses.forEach(course => { %>
              <a class="course_item" href="/course/<%= course.course_id %>">
                <li>
                  <div class="course_container">
                    <h3><%= course.title %></h3>
                    <p><%= course.description %></p><br>
                    <p>- By <%= course.added_by %></p>
                  </div>
                </li>
              </a>
              <!-- <li><%= course.title %> - <%= course.description %></li> -->
            <% }); %>
          <% } %>  
        </ul>
      </div>
    </div>
  </div>
  <!-- Link to add a new course -->
  <!--  <a href="/add-course">Add a New Course</a> -->
    
  <!-- <a href="/logout">Logout</a>  -->

  <div class="wrapper">
    <div class="container">
      <div class="close">
        <ion-icon name="close-circle-outline"></ion-icon>
      </div>
      <h1>Add a New Course</h1>
      <form action="/add-course" method="POST">
        <div class="edit_box">
          <label for="title">Course Title:</label>
          <input type="text" id="title" name="title" required>
        </div>
        <div class="edit_box">
          <label for="description">Course Description:</label>
          <textarea id="description" rows="3" cols="60" name="description" required></textarea>
        </div>
        <div class="edit_box">
          <label for="content_text">Content :</label>
          <textarea id="content_text" rows="10" cols="60" name="content_text"></textarea><br>
        </div>
        <div class="edit_box">
          <label for="content_url">Video URL:</label>
          <input type="text" id="content_url" name="content_url"><br>
        </div>
        
        
        
    
        <!-- <label for="content_type">Content Type:</label>
        <select id="content_type" name="content_type">
          <option value="text">Text</option>
          <option value="video">Video</option>
          <option value="file">File</option>
        </select><br> -->
        
        
        
        
        <!-- <label for="content_filename"> Filename:</label>
        <input type="text" id="content_filename" name="content_filename"><br> -->
        
        
        <button type="submit">Add Course</button>
      </form>
    </div>
  </div>

  <script src="/js/profile.js"></script>
</body>
</html>
